<footer class="Footer">
  <div class="Footer-blocksWrapper">
    <nav class="Footer-nav">
      <ul class="Footer-navList">
        <h3 class="Footer-navTitle">CareDash</h3>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Home</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">About</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Contact</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Write a Review</a></li>
      </ul>
      <ul class="Footer-navList">
        <h3 class="Footer-navTitle">Specialists</h3>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Primary Care Physicians</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Pediatricians</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Optometrists</a></li>
        <li class="Footer-navItem"><a href="#" class="Footer-navLink">Dentists</a></li>
      </ul>
    </nav>
    <div class="Footer-social">
      <h3 class="Footer-socialTitle">Follow Us</h3>
      <ul class="Footer-socialList">
        <li class="Footer-socialItem"><a href="#" class="Footer-socialLink">F</a></li>
        <li class="Footer-socialItem"><a href="#" class="Footer-socialLink">T</a></li>
        <li class="Footer-socialItem"><a href="#" class="Footer-socialLink">I</a></li>
        <li class="Footer-socialItem"><a href="#" class="Footer-socialLink">P</a></li>
      </ul>
    </div>
  </div>
  <p class="Footer-copyright">Copyright 2018 CareDash</p>
</footer>