.Header {
  background-color: white;

  &-container {
    margin: auto;
    max-width: 1200px;
  }

  &-logo {
    display: block;
    height: 80px;
    margin: auto;
    @media (min-width: 700px) {
      display: inline-block;
      margin: 0 20px;
      object-fit: contain;
      vertical-align: top;
      width: 20%;
    }
    @media (min-width: 960px) {
      width: auto;
    }
    @media (min-width: 1200px) {
      margin: 0 20px 0 0;
    }
  }

  &-nav {
    @media (min-width: 700px) {
      display: inline-block;
      width: 70%;
    }
  }

  &-navItem {
    @media (min-width: 700px) {
      display: inline-block;
      position: relative;
      vertical-align: top;
    }
  }

  &-navList,
  &-navSublist {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-navSublist {
    height: 0;
    overflow: hidden;
    @media (min-width: 700px) {
      display: none;
      height: auto;
    }
    &.is-visible {
      height: 160px;
      @media (min-width: 700px) {
        background-color: white;
        border: 1px solid #ddd;
        display: block;
        position: absolute;
      }
    }
  }

  &-navItemLink,
  &-navSubitemLink {
    color: #222;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    @media (min-width: 700px) {
      height: auto;
    }
  }

  &-navItemLink {
    margin: 0 20px;
    position: relative;
    @media (min-width: 700px) {
      line-height: 80px;
      margin: 0 30px 0 0;
    }
  }

  &-navSubitemLink {
    border-left: 1px solid #ddd;
    margin-left: 40px;
    padding-left: 10px;
    @media (min-width: 700px) {
      border: 0;
      margin: 0 20px;
    }
  }
}